.popup__withimage-content {
    max-width: 75vw;
    max-height: 75vh;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    background-size: cover;
    background: transparent;
    position: relative;
    border-radius: 0;
    padding: 0;    
}