@import url('./__avatar/profile__avatar.css');
@import url('./__container/profile__container.css');
@import url('./__info-description/profile__info-description.css');
@import url('./__info-edit-button/profile__info-edit-button.css');
@import url('./__info-name/profile__info-name.css');
@import url('./__info/profile__info.css');
@import url('./__info-text-container/profile__info-text-container.css');
@import url('./__info-edit-button-img/profile__info-edit-button-img.css');

.profile {
    margin: auto;
    max-width: 882px;
    width: calc(100% - 2 * 199px);
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
}

@media screen and (max-width : 1439px) {
    .profile {
        width: calc(100% - 2 * 100px);
    }

}

@media screen and (max-width : 1279px) {
    .profile {
        width: calc(100% - 2 * 50px);
    }
}

@media screen and (max-width : 767px) {
    .profile {
        width: calc(100% - 2 * 19px);
        flex-direction: column;
        align-items: center;
        padding-top: 38px;
        padding-bottom: 36px;
    }
}