@import url('./__image/add-button__image.css');

.add-button {
    border-radius: 2px; 
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: black;
    width: 150px;
    height: 50px;
    padding: 0;
}

.add-button:hover {
    border-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}


@media screen and (max-width : 767px) {
    .add-button {
        width: 100%;  
    }    
}

