.elements {
    width: calc(100% - 2 * 199px);
    max-width: 882px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-gap: 20px;
    justify-content: center;
}

@media screen and (max-width : 1439px) {
    .elements {
        width: calc(100% - 2 * 100px);
    }

}

@media screen and (max-width : 1279px) {
    .elements {
        width: calc(100% - 2 * 50px);
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
}

@media screen and (max-width : 767px) {
    .elements {
        width: calc(100% - 2 * 19px);
                
    }
}

@media screen and (max-width : 620px) {    
    .elements {
        grid-template-columns: repeat(1, minmax(min-content, max-content));                
    }
}