.profile__container {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}


@media screen and (max-width : 767px) {
    .profile__container {       
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
}    