@import url('./__container/element__container.css');
@import url('./__description/element__description.css');
@import url('./__image/element__image.css');
@import url('./__like-button/element__like-button.css');
@import url('./__like-button/_active/element__like-button_active.css');
@import url('./__delete-button/element__delete-button.css');
@import url('./__like-counter/element__like-counter.css');
.element {
    border-radius: 10px;        
    display: flex;
    flex-direction: column;
    position: relative;
}