.popup__close-button {
  position: absolute;
  display: block;
  top: -80px;
  right: -460px;
  background-color: transparent;
  border: 0;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width : 603px) {
  .popup__close-button {
    top: -20px;
    right: -20px;
  }
}