.profile__info-name {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 16px;
}

@media screen and (max-width : 767px) {
    .profile__info-name {
        text-align: center;
        font-size: 27px;
        line-height: 56px;
        margin-bottom: 0;
    }
}