.element__like-button {
    cursor: pointer;
    height: 21px;
    width: 21px;
    right: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: url(../../../images/heart.svg) center center / 100% no-repeat;
    transition: all 0.3s ease 0s;
}

.element__like-button:hover {
    transform: scale(1.3);
    opacity: 0.6;
}