.popup__close-button-image {
    height: 40px;
    width: 40px;
}

.popup__close-button:hover .popup__close-button-image path {
    fill: rgba(255, 255, 255, 0.6);    
}

@media screen and (max-width : 603px) {
    .popup__close-button-image {
        height: 20px;
        width: 20px;
    }
}