@import url('./__container/element__container.css');
@import url('./__description/element__description.css');
@import url('./__image/element__image.css');
@import url('./__like-button/element__like-button.css');

.element {
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
}

.element:nth-child(3n) {
    margin-right: 0;
}


@media screen and (max-width : 981px) {
    .element:nth-child(2n) {
        margin-right: 0;
    }

    .element:nth-child(3n) {
        margin-right: 18px;
    }

    .element:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width : 620px) {
    .element:nth-child(2n) {
        margin-right: 0;
    }

    .element:nth-child(3n) {
        margin-right: 0px;
    }

    .element {
        margin-right: 0;
    }

    .element:first-child {
        margin-top: 0;
    }
}