.element__container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 25px 20px 31px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}