@import url('./__content/popup__content.css');
@import url('./__title/popup__title.css');
@import url('./__close-button/popup__close-button.css');
@import url('./__close-button-image/popup__close-button-image.css');

.popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}